

  body {
    border: solid #000 2px; /*verificar a distribuição das repartiçoes*/
    /*background-image: linear-gradient(180deg, #4fffdc, #3FCCB0, #3d8577, rgb(2, 66, 45));
    background-attachment: fixed;*/
  }

  #barraDeAcessibilidade {
    background-image: linear-gradient(180deg, #4fffdc, #3FCCB0, #3d8577, rgb(2, 66, 45));
    display: none;
  }

  #logo {
    background-image: linear-gradient(180deg, #4fffdc, #3FCCB0, #3d8577, rgb(2, 66, 45));
  }

  #nomeEmpresa{
    background-image: linear-gradient(180deg, #4fffdc, #3FCCB0, #3d8577, rgb(2, 66, 45));
  }
